/* Style the tab */
.tab {
  overflow: hidden;
}
.tab.ets-tabs{
  margin-top: 25px;
  display: block;
  width: 90%;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px; 
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 1px solid transparent;
  border: 1px solid #ccc;
  margin-bottom: -1px;
  background: #fff;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #444;
  color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #444;
  color: #fff;
}

/* Style the tab content */
.ets_tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  border-top: 1px solid #ccc;
}

#ets_setting{
  display: block;
  width: 90%;
}
#ets_about_us{
  display: none;
  width: 90%;
}
.ets-input-group{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.ets-input-group label{
  margin-bottom: 10px;
  font-size: 14px;
  display: block;
  font-weight: 500;
  color: #000;
}
.ets-input{
  width: 100%;
  height:35px;
  border-radius: 0px;
}
.ets-input-group .ets-textarea{
  width: 100%;
}
#ets_setting h3{
  font-size: 20px;
}
.ets-submit{
  padding: 10px 20px;
  background: #444;
  color: #fff;
  font-size: 14px;
  box-shadow: 0px 0px 0px 0px;
  border: 0px;
}
.ets-details{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ets-co-logo img{
  width: 80px
}
.ets-co-logo{
 height: 100px;
  width: 100px;
  border-radius: 50%;
  background:#fff;
  display: flex; 
  align-items: center;
  justify-content: center;
  border: 1px solid
  #000;
} 
.ets-com-logo{
  width: 27%;
}
#ets_post_text_ifr{
  height: 250px !important;
}
.ets-input-group #ets_renewal_mail_body_ifr{
   height: 250px !important;
}
#image-loader{
  height: 50px;
  height: 50px;
  display: none;
}
.ets-btn{
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0px 0px 0px 0px;
  border: 0px;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.0333em;
  line-height: 1.25;
  margin: 0;
  opacity: 1;
  text-transform: uppercase;
}
.btn-connect{
  background-color: #0b8e36;
}
.btn-disconnect{
  background-color:#FF0000;
}
#discord_username\:_div.pmpro_checkout-field{
    display: none;
}
